* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f4;
    padding: 10px;
}

li {
    display: inline-block;
}

header {
    max-width: 1171px;
    min-width: 500px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.top-nav--items {
    position: relative;
}

.top-nav--items:nth-child(2) svg {
    position: absolute;
}
.top-nav--items:nth-child(2) span {
    position: relative;
    top: 10px;
}

.top-nav span {
    padding: 50px 25px;
    /* border: 1px solid red; */
    display: inline-block;
    font-weight: bold;
}

.top-nav--text:first-child {
    padding-left: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1171px;
    margin: 20px auto;
}

.container-item {
    border: 1px solid #cdcdcd;
    width: 250px;
    height: 400px;
}

.container-item img {
    /* border: 1px solid red; */
    display: block;
    margin: 0 auto;
    width: 150px;
}

.container-item--top p {
    display: inline-block;
    padding: 5px 10px;
    /* border-top-right-radius: 5px; */
    background-color: blue;
    font-size: medium;
    color: #fff;
    font-family: sans-serif;
}

.container-item--top-price {
    float: right;
    font-size: large;
    color: blue;
}

.container-item--main {
    text-align: center;
    font-weight: bold;
    font-size: small;
}

.container-item--bottom {
    background-color: #f0f0f4;
    /* border: 1px solid red; */
    text-align: center;
    height: 110px;
}

.container-item--bottom p {
    padding: 30px;
}

